langchain
langchain-tavily
langchain_community
langchain_openai
langgraph
langgraph-supervisor
langgraph-swarm
langchain-mcp-adapters
langgraph-bigtool

# Pin langgraph SDK to avoid websockets>=14 conflict with pyppeteer
langgraph-sdk<0.4.0

trustcall
yfinance
pyppeteer==2.0.0
nest-asyncio