langchain
langchain-tavily
langchain_community
langchain_openai
langgraph
langgraph-supervisor
langgraph-swarm
langchain-mcp-adapters
langgraph-bigtool

trustcall
yfinance
pyppeteer==2.0.0
nest-asyncio